[submodule "ffmlp/dependencies/cutlass"]
	path = ffmlp/dependencies/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "CascadePSP"]
	path = CascadePSP
	url = https://github.com/hkchengrex/CascadePSP.git
